@import 'variables';
@import 'utilities';

@media(min-width:768px)
{
    .intro
    {
        &-content
        {
            .head-1
            {
                font-size:6rem;
            }

        }
    }

    .music-player
    {
        .container
        {
            .song-art
            {
                // position:absolute;

                height:6rem;
                width:6rem;
                // border-radius:none;

                .song-details
                {
                    // align-self:flex-end;
                    // // position;
                    top:30px;
                    right:-100px;
                    width:100%;

                    .song-name
                    {
                        .lead-2
                        {
                            font-size:1.3rem;
                        }
                    }
                }
            }

        }

    }
}