// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@500;700&display=swap');

// Some variables
$primary-font:'Ubuntu',sans-serif;
$secondary-font:'Open Sans',sans-serif;
$primary-color:#58CC6B;
$med-color:#393939;
$semi-med-color:#B2B2B2;
$dark-color:#2F2F2F;
$light-color:#f5f5f5;
$max-width-m:100%;
$max-width-pc:80%;
$anim-speed:0.3s;
