@import 'variables';
@import 'utilities';

html,body
{
    font-family:$secondary-font;
    line-height:1.4;
    background:$dark-color;
    color:$light-color;
}

// Intro styling
.intro
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3;
    display:flex;
    justify-content:center;
    align-items:center;

    .intro-content
    {

        .head-1
        {
            display:block;
            font-size:4rem;
            // width:5rem;
            background:$primary-color;
            overflow:hidden;

            &:nth-child(1)
            {
                .text-content
                {
                    transform:translateX(-100%);
                }
            }

            &:nth-child(2)
            {
                .text-content
                {
                    transform:translateX(100%);
                }
            }

            .text-content
            {
                display:block;
                // transform:translateX(-50px);
                animation:slide-in 1s forwards ease-in-out;
            }

            @keyframes slide-in
            {
                to
                {
                    transform:translateX(0);
                }
            }
        }
    }
}

// Homepage styling
#home
{
    .container
    {
        display:flex;

        #navbar-m
        {
            // position:fixed;
            padding:0.6rem 0;
            // top:0;
            // left:0;
            // overflow:hidden;
            // transform:scale(0);
            width:0;
            transition:width $anim-speed ease;
            .menu
            {
                position:relative;
                top:0;
                left:0;
                padding:0 1.5rem;

                .toggler
                {
                    position:absolute;
                    height:30px;
                    width:30px;
                    z-index:2;
                    opacity:0;
                    cursor:pointer;

                    &:checked + .hamburger > .lines::before,
                    &:checked + .hamburger > .lines::after
                    {
                        bottom:0;
                        width:100%;
                        transform:rotate(90deg);
                    }

                    &:checked + .hamburger > .lines
                    {
                        transform:rotate(135deg);
                    }

                }

                .hamburger
                {
                    position:absolute;
                    height:40px;
                    width:40px;
                    background:$med-color;
                    padding:0 0.2rem;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    z-index:1;

                    .lines
                    {
                        position:relative;
                        height:2.3px;
                        width:100%;
                        background:$light-color;
                        border-radius:23px;
                        transition:all $anim-speed ease;
                        
                        &::before,
                        &::after
                        {
                            content:'';
                            position:absolute;
                            height:2.3px;
                            width:80%;
                            border-radius:23px;
                            background:$light-color;
                            bottom:8px;
                        }

                        &::after
                        {
                            width:90%;
                            bottom:-8px;
                        }
                    }
                }
            }

            .nav-links
            {
                position:relative;
                opacity:0;

                .links-contain
                {
                    margin-top:5rem;

                    li
                    {
                        a
                        {
                            .link
                            {
                                display:flex;
                                align-items:center;
                                padding:1.5rem;

                                i
                                {
                                    font-size:1.5rem;
                                }

                                .lead-2
                                {
                                    font-size:1.2rem;
                                    padding:0;
                                    margin-left:1.2rem;
                                }

                                &:hover
                                {
                                    background:lighten($med-color,10%);
                                }

                            }
                        }
                    }
                }
            }
        }

        // Main section
        #main-section
        {
            width:100%;
            margin-left:0;
            padding:1rem 0;

            .head-2
            {
                // padding-left:1.5rem;
                text-align:center;
            }
            .songs-list
            {
                margin-top:2rem;
                ul
                {
                    cursor:pointer;
                    .songs
                    {
                        padding:0 1.5rem;

                        .song-contain
                        {
                            display:flex;
                            align-items:center;
                            padding:1rem 0;
                            .album-art
                            {
                                height:5rem;
                                width:5rem;

                                img
                                {
                                    height:5rem;
                                    width:5rem;
                                    border-radius:20px;
                                    object-fit:cover;
                                }

                            }

                            .song-details
                            {
                                margin-left:1.5rem;
                                .head-2
                                {
                                    font-weight:normal;
                                    font-size:1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Music player styling
.music-player
{
    position:fixed;
    left:0;
    right:0;
    height:7rem;
    bottom:1rem;
    border-radius:20px;
    // transform:translateY(10rem);
    // opacity:0;
    // pointer-events:none;
    display:flex;
    align-items:center;
    transition:all $anim-speed ease;
    z-index:2;
    
    .container
    {
        position:relative;
        display:grid;
        grid-template-columns:0.2fr 1fr;
        grid-gap:0.6rem;
        // align-items:center;
        width:90%;

        .song-art
        {
            position:relative;
            grid-row:span 2;
            height:4rem;
            width:4rem;
            display:flex;
            justify-content:center;
            align-items:center;
    
            img
            {
                position:absolute;
                top:0;
                height:100%;
                width:100%;
                object-fit:cover;
                border-radius:50%;
            }

            .song-details
            {
                position:absolute;
                bottom:-35px;
                width:80%;
                // background:red;
                overflow:hidden;
                
                .song-name
                {
                    width:max-content;

                    // Song name and artist sliding when the song is playing
                    .slide
                    {
                        animation:sliding-text 5s linear infinite;
                    }

                    @keyframes sliding-text
                    {
                        from
                        {
                            transform:translateX(1rem);
                        }
                        to
                        {
                            transform:translateX(-100%);
                        }
                    }
                }
            }
        }

        // This class should be used for spining the album art
        .spin
        {
            animation:spin 2s linear infinite;
        }

        @keyframes spin
        {
            from
            {
                transform:rotate(0deg);
            }
            to
            {
                transform:rotate(360deg);
            }
        }
    
        .controls
        {
            width:100%;
            // margin-left:3rem;
            
            .btn-grp
            {
                display:flex;
                justify-content:space-around;
                align-items:center;

                .btn
                {
                    cursor:pointer;
                }

                .backward,
                .forward
                {
                    font-size:1.3rem;

                    &:hover
                    {
                        color:darken($light-color,5%);
                    }
                }

                .play-pause-btn
                {
                    height:2rem;
                    width:2rem;
                    background:$light-color;
                    padding:1.4rem;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    border-radius:50%;
                    color:$primary-color;

                    &:hover
                    {
                        background:darken($light-color,5%);
                    }
                }
                
            }


        }

        // Bottom styling
        .bottom-tab
        {
            // Timing
            .timing
            {
                position:relative;
                width:80%;              
                display:flex;
                justify-content:space-between;
                left:50%;
                transform:translate(-50%);
                // margin-bottom:0.6rem;

                .current-time,
                .duration-time
                {
                    font-size:0.8rem;
                }
            }

            // Progress bar
            .progress-bar-contain
            {
                position:relative;
                margin-top:0.6rem;
                height:0.3rem;
                width:80%;
                background:darken($primary-color,10%);
                border-radius:23px;
                cursor:pointer;
                left:50%;
                transform:translate(-50%);
                
                .progress-bar
                {
                    position:absolute;
                    top:0;
                    left:0;
                    height:100%;
                    width:0;
                    background:$light-color;
                    border-radius:inherit;
                }
            }
        }

    }

    // Close btn styling
    .close-music
    {
        position:absolute;
        top:-30px;
        right:50px;
        // transform:translateY(-70px);
        height:30px;
        width:70px;
        background:darken($primary-color,20%);
        border-top-left-radius:15px;
        border-top-right-radius:15px;
        cursor:pointer;
        z-index:-1;
        // opacity:0.99;
        display:flex;
        justify-content:center;
        align-items:center;
        // transform:translateY(-30px);

        .close-ico
        {
            font-size:1.5rem;

            span
            {
                user-select:none;
            }
        }
    }
    
    
}